<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgb(0,0,0);">
    <section class="position-relative py-4 py-xl-5" style="padding: 20px 0px;">
        <div class="container d-inline mx-auto" style="padding-left: 0px;padding-right: 0px;">
            <div class="row d-flex justify-content-center" style="margin: 0;">
                <div class="col" style="padding: 0;"><img class="float-start" src="assets/img/Group%209.png" style="filter: blur(0px);height: 840px;margin-left: 15px;width: 352.344px;backdrop-filter: opacity(0.27);opacity: 0.27;"></div>
                <div class="col-md-6 col-xl-4" style="padding: 0;">
                    <div class="card mb-5" style="background: rgba(255,255,255,0);">
                        <div class="card-body d-flex flex-column align-items-center" style="margin-top: 28px;"><img src="assets/img/Logo.png" style="width: 109px;margin-bottom: 22px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" role="button" style="width: 270px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;background: rgba(13,110,253,0);border-top-width: 0px;border-right-width: 0px;border-bottom-width: 2px;border-bottom-color: #3cb734;border-left-width: 0px;border-left-color: #3cb734;font-size: 18px;font-family: Inter, sans-serif;" href="Login.html">Login</a>
                                <a class="btn btn-primary" role="button" style="width: 270px;background: rgba(13,110,253,0);border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 2px;border-bottom-color: #d9d9d9;border-left-width: 0px;color: #d9d9d9;font-size: 18px;font-family: Inter, sans-serif;" href="Register.html">Register</a></div>
                            <h1 class="d-xxl-flex justify-content-xxl-center" style="color: rgb(255,255,255);margin-top: 37px;margin-bottom: 37px;font-size: 38px;font-family: Archivo, sans-serif;">Welcome back</h1>
                            <form class="text-center" method="post" action="/loginPost">
                                <div class="mb-3">
                                    <p style="text-align: left;color: rgb(255,255,255);font-size: 18px;font-family: Inter, sans-serif;">Enter your email</p><input class="form-control" type="email" id="txtemail" name="email" placeholder="Email" style="width: 540px;height: 55px;font-family: Inter, sans-serif;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                                </div>
                                <div class="mb-3">
                                    <p style="text-align: left;color: rgb(255,255,255);font-size: 18px;font-family: Inter, sans-serif;">Enter your password</p><input class="form-control" type="password" id="txtpassword" name="password" placeholder="Password" style="height: 55px;width: 540px;font-family: Inter, sans-serif;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                                </div><button class="btn btn-primary" type="submit" style="width: 263px;height: 54px;background: #9997ef;font-size: 18px;margin-top: 48px;border-style: none;border-right-style: none;border-bottom-style: none;font-family: Inter, sans-serif;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding: 0;"><img class="float-end d-xxl-flex align-items-xxl-end" src="assets/img/Group%208.png" style="height: 840px;margin-left: 0px;filter: blur(0px);padding-right: 15px;width: 352.344px;backdrop-filter: opacity(0.27);opacity: 0.27;" width="360" height="858"></div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://127.0.0.1:8887/controllers/loginController.js"></script>
</body>

</html>