<!DOCTYPE html>
<html lang="en" style="background: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgb(0,0,0);">
    <section class="position-relative py-4 py-xl-5" style="padding: 20px 0px;background: #000000;">
        <div class="container d-inline mx-auto" style="padding-left: 0px;padding-right: 0px;">
            <div class="row d-flex justify-content-center" style="margin: 0;">
                <div class="col" style="padding: 0;"><img class="float-start" src="assets/img/Group%209.png" style="filter: blur(0px);height: 840px;margin-left: 15px;width: 352.344px;backdrop-filter: opacity(0.27);opacity: 0.27;"></div>
                <div class="col" style="padding: 0;"><button class="btn btn-primary" id="AI" type="submit" style="width: 336px;height: 54px;background: rgba(153,151,239,0);font-size: 18px;margin-top: 114px;font-family: Inter, sans-serif;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin-left: 21px;border-top-width: 2px;border-top-color: #9999eb;border-right-width: 2px;border-right-color: #9999eb;border-bottom-width: 2px;border-bottom-color: #9999eb;border-left-width: 2px;border-left-color: #9999eb;" mode="AI">With AI</button></div>
                <div class="col" style="padding: 0;">
                    <h1 class="d-xxl-flex justify-content-xxl-center" style="color: rgb(255,255,255);margin-top: 37px;margin-bottom: 37px;font-size: 36px;font-family: Archivo, sans-serif;">Choose you play mode</h1>
                </div>
                <div class="col" style="padding: 0;"><button class="btn btn-primary" id="AI" type="button" style="width: 336px;height: 54px;background: #9997ef;font-size: 18px;margin-top: 114px;border-style: none;border-right-style: none;border-bottom-style: none;font-family: Inter, sans-serif;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin-left: 21px;">With AI</button></div>
                <div class="col" style="padding: 0;"><img class="float-end d-xxl-flex align-items-xxl-end" src="assets/img/Group%208.png" style="height: 840px;margin-left: 0px;filter: blur(0px);padding-right: 15px;width: 352.344px;backdrop-filter: opacity(0.27);opacity: 0.27;" width="360" height="858"></div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>